<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project14_SqlAllRelation.Properties.Settings.MyProject14ConnectionString"
            connectionString="Data Source=EMRE\SQLEXPRESS01;Initial Catalog=MyProject14;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>